/**
 * Custom Properties
 * aka CSS variables.
 *
 * @link: https://developer.mozilla.org/en-US/docs/Web/CSS/--*
 **/

:root {
	--global-font-color: #4f080e;
	--global-font-family: "brandon-grotesque", serif;
	--global-font-size: 16;
	--global-font-line-height: 1.4;
	--highlight-font-family: "brandon-grotesque", sans-serif;
	--content-width: 45rem;
	--content-width-lg: 65rem;
	--dropdown-symbol-width: 0.7em;
	--font-al-fresco: "al-fresco", sans-serif;

	/* Custom editor colors */
	--color-theme-primary: #f25430;
	--color-theme-secondary: #57d6f2;
	--color-theme-green: #038e3e;
	--color-theme-yellow: #f2ac29;
	--color-theme-black: #1c2833;
	--color-theme-grey: #95a5a6;
	--color-theme-white: #fff;
	--color-dark-blue: #296573;

	--color-link: var(--color-theme-secondary);
	--color-link-visited: var(--color-theme-secondary);
	--color-link-active: var(--color-theme-secondary);

	--color-quote-border: var(--global-font-color);
	--color-quote-citation: var(--color-theme-black);

	/* Custom editor font sizes */
	--font-size-small: calc(16 / var(--global-font-size) * 1rem);
	--font-size-regular: calc(var(--global-font-size) / 16 * 1rem);
	--font-size-large: calc(36 / var(--global-font-size) * 1rem);
	--font-size-larger: calc(48 / var(--global-font-size) * 1rem);

	/* element sizes */
	--header-height: 72px;

	/* eases */
	--primary-ease: cubic-bezier(0.165, 0.84, 0.44, 1);
	--back-ease: cubic-bezier(0.175, 0.885, 0.32, 1.275);
	--bounce-ease: cubic-bezier(0, 0.57, 0.49, 1.51);

	/* box shadows */
	/* stylelint-disable */

	--box-shadow-out: 5px 5px 10px rgba(0, 0, 0, 0.15),
		-5px -5px 10px rgba(255, 255, 255, 0.85);

	--box-shadow-out-deep: inset 0 0 15px rgba(66, 66, 66, 0),
		inset 0 0 20px rgba(255, 255, 255, 0),
		7px 7px 15px rgba(58, 58, 58, 0.15),
		-7px -7px 20px var(--color-theme-white),
		inset 0 0 4px rgba(255, 255, 255, 0.2);

	--box-shadow-out-flat: -3px -3px 5px inset rgba(0, 0, 0, 0.02),
		3px 3px 5px inset rgba(255, 255, 255, 0.5);

	--box-shadow-in: 5px 5px 5px rgba(0, 0, 0, 0.05),
		-5px -5px 5px rgba(255, 255, 255, 0.5),
		5px 5px 5px inset rgba(0, 0, 0, 0.05),
		-5px -5px 5px inset rgba(255, 255, 255, 0.5);

	--box-shadow-in-deep: inset 7px 7px 15px rgba(66, 66, 66, 0.15),
		inset -7px -7px 20px var(--color-theme-white),
		0 0 4px rgba(255, 255, 255, 0.2);

	--box-shadow-in-flat: 3px 3px 5px inset rgba(0, 0, 0, 0.02),
		-3px -3px 5px inset rgba(255, 255, 255, 0.5);

	/* stylelint-enable */
}
