/**
 * Custom Properties
 * aka CSS variables.
 *
 * @link: https://developer.mozilla.org/en-US/docs/Web/CSS/--*
 **/

:root {
	--global-font-color: #4f080e;
	--global-font-family: "brandon-grotesque", serif;
	--global-font-size: 16;
	--global-font-line-height: 1.4;
	--highlight-font-family: "brandon-grotesque", sans-serif;
	--content-width: 45rem;
	--dropdown-symbol-width: 0.7em;

	/* Custom editor colors */
	--color-theme-primary: #f25430;
	--color-theme-secondary: #57d6f2;
	--color-theme-green: #038e3e;
	--color-theme-yellow: ##f2ac29;
	--color-theme-black: #1c2833;
	--color-theme-grey: #95a5a6;
	--color-theme-white: #ecf0f1;

	--color-link: var(--color-theme-secondary);
	--color-link-visited: var(--color-theme-secondary);
	--color-link-active: var(--color-theme-secondary);

	--color-quote-border: #000;
	--color-quote-citation: #6c7781;

	--color-hill-footer-blue: #296573;

	/* Custom editor font sizes */
	--font-size-small: calc(16 / var(--global-font-size) * 1rem);
	--font-size-regular: calc(var(--global-font-size) / 16 * 1rem);
	--font-size-large: calc(36 / var(--global-font-size) * 1rem);
	--font-size-larger: calc(48 / var(--global-font-size) * 1rem);
}
