@import "_custom-properties.css";

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/

.site-footer {
	position: relative;
	margin: 1em 0 0;
	padding: 0;
	font-family: var(--highlight-font-family);
	font-stretch: condensed;
	z-index: 1;
	overflow: hidden;
	background: var(--color-theme-white);
}

.site-footer > * {
	padding-right: 1em;
	padding-left: 1em;
}

.footer-navigation {
	margin: 0;
	padding-top: 1em;
	padding-bottom: 5em;
	max-width: var(--content-width);
	font-family: var(--highlight-font-family);
	font-stretch: condensed;
}

/* stylelint-disable */
.footer-navigation a {
	display: block;
	width: 100%;
	max-width: 375px;
	padding: 0.5em 0;
	text-decoration: none;
}

.footer-navigation ul {
	display: block;
	list-style: none;
	margin: 0;
	padding: 0;
}
/* stylelint-enable */

.footer-logo {
	max-width: 375px;
	display: block;
}

.footer-svg {
	max-width: 377px;
	padding: 0;
	position: absolute;
	bottom: 75px;
	right: -2px;
	transform: rotateY(-180deg);
	z-index: -1;
}

.footer-info {
	width: 100%;
}

.footer-info p {
	color: var(--global-font-color);
	text-align: center;
	font-size: 12px;
}

.copyright {
	margin: 0;
}

.tax-info {
	font-size: 12px;
}

.privacy-policy-link {
	color: var(--global-font-color);
}

@media (--content-query) {
	.site-footer {
		min-height: 384px;
	}

	.footer-logo {
		max-width: 450px;
	}

	.footer-svg {
		max-width: 575px;
	}

	.footer-info p {
		color: var(--global-font-color);
		text-align: center;
		font-size: var(--font-size-regular);
	}
}

@media (--sidebar-query) {
	.site-footer {
		min-height: 384px;
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-gap: 2em;
		align-items: center;
	}

	.footer-logo {
		grid-column: 1;
	}

	.footer-navigation {
		width: 100%;
		max-width: unset;
		grid-column: 2;
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 0;
	}

	.footer-navigation ul li a {
		padding: 0.4em 0.5em;
	}

	.footer-navigation ul li {
		margin: 0 0 0 0.5em;
	}

	.footer-navigation ul li:first-child {
		margin-left: 0;
	}

	.footer-navigation .menu {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}

	.footer-info {
		position: absolute;
		bottom: 0;
		left: 50%;
		transform: translateX(-50%);
	}
}

@media (--wide-menu-query) {
	.footer-svg {
		max-width: 450px;
	}

	.footer-info {
		text-align: center;
	}
}
