@import "_custom-properties.css";

/*--------------------------------------------------------------
# Links
--------------------------------------------------------------*/
/* stylelint-disable */
a {
	color: var(--global-font-color);
	text-decoration: none;
}

a:active:not([role="button"]):not(.wp-block-button__link) {
	outline-style: dotted;
	outline-width: 1px;
	outline-offset: 5px;
}

/*--------------------------------------------------------------
# Buttons
--------------------------------------------------------------*/
input[type="button"],
input[type="reset"],
input[type="submit"],
a[role="button"],
button[role="button"],
a.wp-block-button__link {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	color: var(--color-theme-primary);
	background-color: var(--color-theme-white);
	font-family: var(--highlight-font-family);
	font-stretch: condensed;
	text-transform: uppercase;
	letter-spacing: 0.5px;
	border: 0;
	padding: 1rem 1.5rem;
	border-radius: var(--global-border-radius);
	box-shadow: var(--box-shadow-out);
	transition-property: box-shadow;
	transition-duration: 1000ms;
	transition-timing-function: var(--primary-ease);
}

input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover,
a[role="button"]:hover,
button[role="button"]:hover,
a.wp-block-button__link:hover {
	cursor: pointer;
	box-shadow: var(--box-shadow-in);
	color: var(--color-theme-primary);
}

input[type="button"]:visited,
input[type="reset"]:visited,
input[type="submit"]:visited,
a[role="button"]:visited,
button[role="button"]:visited,
a.wp-block-button__link:visited {
	color: var(--color-theme-primary);
}

input[type="button"]:active,
input[type="button"]:focus,
input[type="reset"]:active,
input[type="reset"]:focus,
input[type="submit"]:active,
input[type="submit"]:focus,
a[role="button"]:focus,
a[role="button"]:active,
button[role="button"]:focus,
button[role="button"]:active,
a.wp-block-button__link:focus,
a.wp-block-button__link:active {
	box-shadow: var(--box-shadow-in-deep);
	outline: none;
}
/* stylelint-enable */
