/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Imports
	# Blocks
	# Media
		# Captions
		# Galleries (Legacy)
# Post and page content
	# Alignments
	# Custom block colors
	# Custom font sizes
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Imports
--------------------------------------------------------------*/
@import "_blocks.css";
@import "_media.css";

/*--------------------------------------------------------------
# Post and page content
--------------------------------------------------------------*/

/* Custom rule  for sticky posts:
.sticky {

}
*/

.entry {
	margin-bottom: 1rem;
}

.entry-meta,
.entry-footer {
	font-family: var(--highlight-font-family);
	font-stretch: condensed;
}

.entry-meta {
	margin: 1em 0;
}

/* Hides the update date and time. */
.updated:not(.published) {
	display: none;
}

.post-thumbnail img {
	margin: 0 auto;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 0;
}

.page-content > *,
.entry-content > *,
.entry-summary > * {
	max-width: var(--content-width);
	margin-right: auto;
	margin-left: auto;
	padding-right: 1.5rem;
	padding-left: 1.5rem;
	font-size: var(--font-size-medium);
}

.entry-content h2 {
	font-size: 2.5rem;
	text-transform: uppercase;
	font-weight: var(--highlight-font-weight-black);
	line-height: 1.4;
}

.entry-header,
.entry-footer,
.post-navigation,
.page-navigation,
.comments-area {
	margin: 1.5em auto;
	padding-right: 1.5rem;
	padding-left: 1.5rem;
	max-width: var(--content-width);
}

@media (--content-query) {
	.page-content > *,
	.entry-content > *,
	.entry-summary > *,
	.entry-header,
	.entry-footer,
	.post-navigation,
	.page-navigation,
	.comments-area {
		padding-left: 0;
		padding-right: 0;
	}
}

@media (--sidebar-query) {
	.entry-content h2 {
		font-size: 3rem;
	}
}

@media (--desktop-query) {
	.entry-content h2 {
		font-size: 3.75rem;
	}
}

/* stylelint-disable */
.page-content a,
.entry-content a:not(.wp-block-button__link):not([role="button"]),
.entry-summary a,
.entry-header a,
.entry-footer a,
.post-navigation a,
.page-navigation a,
.comments-area a {
	display: inline-block;
	position: relative;
	text-decoration: none;
}

.page-content a::before,
.entry-content a:not(.wp-block-button__link):not([role="button"])::before,
.entry-summary a::before,
.entry-header a::before,
.entry-footer a::before,
.post-navigation a::before,
.page-navigation a::before,
.comments-area a::before {
	content: "";
	width: 100%;
	height: 35%;
	position: absolute;
	bottom: 0;
	left: 0;
	background: rgba(87, 214, 242, 0.2);
	z-index: -1;
	border-radius: var(--global-border-radius);
	transition-property: height;
	transition-duration: 300ms;
	transition-timing-function: var(--back-ease);
}

.page-content a:hover::before,
.entry-content a:not(.wp-block-button__link):not([role="button"]):hover::before,
.entry-summary a:hover::before,
.entry-header a:hover::before,
.entry-footer a:hover::before,
.post-navigation a:hover::before,
.page-navigation a:hover::before,
.comments-area a:hover::before {
	height: 100%;
}
/* stylelint-enable */

.entry-content ul,
.entry-content ol {
	padding-right: 2.5em;
	padding-left: 2.5em;
}

.entry-content ul {
	list-style: none;
}

.entry-content ul li {
	position: relative;
}

.entry-content ul li::before {
	content: "";
	width: 15px;
	height: 15px;
	position: absolute;
	top: 8px;
	left: -25px;
	background-image: url(../images/mountains-solid.svg);
	background-repeat: no-repeat;
}

.entry-content ul ul,
.entry-content ol ol {
	margin-right: 0;
	margin-left: 0;
	padding-right: 1.5em;
	padding-left: 1.5em;
}

/* Align .more-link with the content. */
.entry-content > .more-link {
	display: block;
}

.page-links {
	clear: both;
	margin-bottom: 1.5em;
}

.entry-footer span {
	margin-right: 1em;
}

.entry-footer {
	clear: both;
}

@media (--content-query) {
	.entry-footer {
		padding-right: 0;
		padding-left: 0;
	}
}

/*--------------------------------------------------------------
## Alignments
--------------------------------------------------------------*/
.alignleft {
	float: left;
	margin-right: 1.5rem;
}

.alignright {
	float: right;
	margin-left: 1.5rem;
}

.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.alignwide {
	max-width: calc(50% + var(--content-width) / 2);
}

.alignfull {
	max-width: 100%;
	padding: 0;
}

/*--------------------------------------------------------------
## Custom block colors.
--------------------------------------------------------------*/
/* stylelint-disable */
.has-theme-primary-color,
.has-theme-primary-color a {
	color: var(--color-theme-primary);
}

.has-theme-primary-background-color {
	background-color: var(--color-theme-primary);
}

.has-theme-secondary-color,
.has-theme-secondary-color a {
	color: var(--color-theme-secondary);
}

.has-theme-secondary-background-color {
	background-color: var(--color-theme-secondary);
}

.has-theme-green-color,
.has-theme-green-color a {
	color: var(--color-theme-green);
}

.has-theme-green-background-color {
	background-color: var(--color-theme-green);
}

.has-theme-dark-blue-color,
.has-theme-dark-blue-color a {
	color: var(--color-theme-dark-blue);
}

.has-theme-dark-blue-background-color {
	background-color: var(--color-theme-dark-blue);
}

.has-theme-yellow-color,
.has-theme-yellow-color a {
	color: var(--color-theme-yellow);
}

.has-theme-yellow-background-color {
	background-color: var(--color-theme-yellow);
}

.has-theme-black-color,
.has-theme-black-color a {
	color: var(--color-theme-black);
}

.has-theme-black-background-color {
	background-color: var(--color-theme-black);
}

.has-theme-grey-color,
.has-theme-grey-color a {
	color: var(--color-theme-grey);
}

.has-theme-grey-background-color {
	background-color: var(--color-theme-grey);
}

.has-theme-white-color,
.has-theme-white-color a {
	color: var(--color-theme-white);
}

.has-theme-white-background-color {
	background-color: var(--color-theme-white);
}

.has-theme-ghostwhite-color,
.has-theme-ghostwhite-color a {
	color: var(--color-theme-ghostwhite);
}

.has-theme-ghostwhite-background-color {
	background-color: var(--color-theme-ghostwhite);
}
/* stylelint-enable */
/*--------------------------------------------------------------
## Custom block font sizes.
--------------------------------------------------------------*/

.has-small-font-size {
	font-size: var(--font-size-small);
}

.has-regular-font-size {
	font-size: var(--font-size-regular);
}

.has-medium-font-size {
	font-size: var(--font-size-medium);
}

.has-large-font-size {
	font-size: var(--font-size-large);
}

.has-larger-font-size {
	font-size: var(--font-size-larger);
}
