/**
 * Custom styles for the front-page.php template.
 */

@media (--sidebar-query) {
	.site {
		padding-top: 0;
	}
}

.hero {
	position: relative;
	height: 515px;
	overflow: hidden;
}

.hero-illustration {
	max-height: 301px;
	position: absolute;
	top: 0;
	right: -3px;
	z-index: -1;
}

.hero-content {
	height: 100%;
	padding-top: 120px;
	margin-right: auto;
	margin-left: auto;
	padding-right: 1.5rem;
	padding-left: 1.5rem;
	max-width: 375px;
}

.hero-content h1,
.hero-content h2 {
	margin: 0;
}

.hero-title {
	padding-left: 1rem;
}

.hero-title h1 {
	position: relative;
}

.hero-title h1 div:nth-of-type(1) {
	position: absolute;
	top: -9px;
	left: -18px;
	font-size: 30px;
	font-family: var(--font-al-fresco);
	font-weight: var(--font-al-fresco-font-weight-bold);
	z-index: 1;
}

.hero-title h1 div:nth-of-type(2) {
	font-size: 40px;
	font-weight: var(--highlight-font-weight-black);
	text-transform: uppercase;
	color: var(--color-theme-primary);
}

.hero-title h1 div:nth-of-type(3) {
	position: absolute;
	top: 25px;
	left: 28px;
	font-size: 35px;
	font-family: var(--font-al-fresco);
	font-weight: var(--font-al-fresco-font-weight-bold);
}

.hero-content h2 {
	font-size: 20px;
	font-weight: var(--highlight-font-weight-medium);
	text-transform: uppercase;
	padding-top: 100px;
}

.hero-content p {
	font-style: italic;
}

@media (--mobile-query) {
	.hero-content h2 {
		padding-top: 115px;
	}
}

@media (--mobile-lg-query) {
	.hero {
		height: 530px;
	}

	.hero-content {
		padding-top: 120px;
	}

	.hero-content h2 {
		padding-top: 130px;
	}
}

@media screen and (min-width: 500px) {
	.hero {
		height: 540px;
	}

	.hero-content {
		padding-top: 82px;
		max-width: var(--content-width);
	}

	.hero-title h1 div:nth-of-type(1) {
		top: -12px;
		left: -28px;
		font-size: 53px;
	}

	.hero-title h1 div:nth-of-type(2) {
		font-size: 71px;
	}

	.hero-title h1 div:nth-of-type(3) {
		top: 44px;
		left: 51px;
		font-size: 62px;
	}

	.hero-content h2,
	.hero-content p {
		max-width: 325px;
	}
}

@media (--wide-menu-query) {
	.hero {
		height: 450px;
	}

	.hero-illustration {
		max-height: 450px;
	}

	.hero-title h1 div:nth-of-type(1) {
		top: -12px;
		left: -28px;
		font-size: 53px;
	}

	.hero-title h1 div:nth-of-type(2) {
		font-size: 71px;
	}

	.hero-title h1 div:nth-of-type(3) {
		top: 44px;
		left: 51px;
		font-size: 62px;
	}

	.hero-content h2 {
		padding-top: 40px;
	}
}

@media (--content-query) {
	.hero-illustration {
		max-height: 100%;
	}

	.hero {
		height: 500px;
	}

	.hero-content {
		padding-top: 85px;
		padding-left: 0;
		padding-right: 0;
	}
}

@media (--sidebar-query) {
	.hero {
		height: 768px;
	}

	.hero-content {
		padding-top: 195px;
	}

	.hero-title {
		padding-left: 0;
	}

	.hero-title h1 div:nth-of-type(1) {
		font-size: 75px;
		top: -22px;
		left: -41px;
	}

	.hero-title h1 div:nth-of-type(2) {
		font-size: 90px;
	}

	.hero-title h1 div:nth-of-type(3) {
		font-size: 75px;
		top: 57px;
		left: 64px;
	}

	.hero-content h2 {
		padding-top: 45px;
	}

	.hero-content a {
		margin-top: 20px;
	}
}

@media (--desktop-query) {
	.hero-content {
		padding-top: 150px;
		max-width: var(--content-width-lg);
	}

	.hero-title h1 div:nth-of-type(1) {
		font-size: 90px;
		top: -17px;
		left: -47px;
	}

	.hero-title h1 div:nth-of-type(2) {
		font-size: 135px;
	}

	.hero-title h1 div:nth-of-type(3) {
		font-size: 114px;
		top: 89px;
		left: 92px;
	}

	.hero-content h2 {
		padding-top: 60px;
		font-size: 30px;
		max-width: 400px;
	}

	.hero-content p {
		max-width: 500px;
		font-size: 20px;
	}
}

@media (--desktop-lg-query) {
	.hero {
		height: 880px;
	}

	.hero-content {
		padding-top: 200px;
	}

	.hero-content p {
		font-weight: var(--highlight-font-weight-black);
	}
}

@media (--desktop-xl-query) {
	.hero {
		height: 1175px;
	}

	.hero-content {
		padding-top: 300px;
	}

	.hero-title h1 div:nth-of-type(1) {
		font-size: 120px;
		top: -20px;
		left: -58px;
	}

	.hero-title h1 div:nth-of-type(2) {
		font-size: 195px;
	}

	.hero-title h1 div:nth-of-type(3) {
		font-size: 150px;
		top: 127px;
		left: 163px;
	}

	.hero-content h2 {
		padding-top: 60px;
		font-size: 40px;
		max-width: 600px;
	}

	.hero-content p {
		max-width: 600px;
		font-size: 24px;
	}

	.hero-content a[role="button"] {
		font-size: 24px;
		padding: 1.5rem 2rem;
	}
}
