/**
 * Custom styles for the front-page.php template.
 */

@media (--sidebar-query) {
	.site {
		padding-top: 0;
	}
}

/* Hero template part */
.hero {
	position: relative;
	height: 257px;
	overflow: hidden;
}

.hero-illustration {
	max-height: 301px;
	position: absolute;
	top: 0;
	right: -3px;
	z-index: -1;
}

.hero-content {
	height: 100%;
	padding-top: 90px;
	margin-right: auto;
	margin-left: auto;
	padding-right: 0.5rem;
	padding-left: 0.5rem;
	max-width: 375px;
}

.hero-content h1,
.hero-content h2 {
	margin: 0;
}

.hero-title {
	padding-left: 1rem;
}

.hero-title h1 {
	position: relative;
}

.hero-title div:nth-of-type(1) {
	position: absolute;
	top: -9px;
	left: -18px;
	font-size: 30px;
	font-family: var(--font-al-fresco);
	font-weight: var(--font-al-fresco-font-weight-bold);
	z-index: 1;
}

.hero-title div:nth-of-type(2) {
	font-size: 40px;
	font-weight: var(--highlight-font-weight-black);
	text-transform: uppercase;
	color: var(--color-theme-primary);
}

.hero-title div:nth-of-type(3) {
	position: absolute;
	top: 25px;
	left: 28px;
	font-size: 35px;
	font-family: var(--font-al-fresco);
	font-weight: var(--font-al-fresco-font-weight-bold);
}

.hero-content h2,
.hero-content p,
.hero-content a[role="button"] {
	display: none;
}

.hero-content h2 {
	font-size: 20px;
	font-weight: var(--highlight-font-weight-medium);
	padding-top: 100px;
}

.hero-content p {
	font-style: italic;
}

.hero-content-mobile {
	margin-right: auto;
	margin-left: auto;
	padding-right: 0.5rem;
	padding-left: 0.5rem;
	background-color: var(--color-theme-dark-green);
}

.hero-content-mobile-inner {
	max-width: 325px;
}

.hero-content-mobile h2 {
	margin-top: 0;
	padding-top: 1em;
	font-size: 20px;
	font-weight: var(--highlight-font-weight-medium);
	color: var(--color-theme-white);
}

.hero-content-mobile p {
	color: var(--color-theme-white);
	font-style: italic;
}

.hero-content-mobile a[role="button"] {
	background-color: var(--color-theme-white);
	box-shadow: none;
}

.a099ae61-c1fb-4a7e-9653-5a6228c90ac2 {
	fill: none;
}
.bd09ab91-4cc2-48aa-9398-3e020a534067 {
	isolation: isolate;
}
.fb7f4522-af65-4cca-8bc4-2461c53dbc3a {
	fill: url(#beeac1a4-751f-4f6c-9196-095ac3501476);
}
.ed56cef8-3336-42fd-912a-396fb4ac7226 {
	fill: url(#e42e6c01-ebfd-4d78-93d9-f91b951b4d41);
}
.ac0cbfbf-2212-4cf4-be48-36608317362f {
	clip-path: url(#f6872b2b-70a0-4240-a6d2-ceac227bd022);
}
.e9cbba6a-e922-4890-925f-d6127bc493a7 {
	fill: #f2de29;
}
.a1ce82d3-c2d5-4344-a942-26e5a769464d {
	fill: url(#a00ff809-4c3d-4815-9529-6cdceaee9713);
}
.b8bb7422-1ae3-438b-8414-ba7d6a0897bf {
	fill: url(#a5f2490d-089e-47a8-b96c-3e3b6a6910a2);
}
.b04fdfc7-59c8-45b2-a06a-83bd058229d3 {
	fill: url(#f29f2b85-77c9-4be4-b772-a998e859b868);
}
.e8bc1e83-a28d-4d80-bc45-b362b0169b1e {
	fill: url(#ee2f34e6-7348-4224-8fae-8cb1ff21bbc9);
}
.f3b2ffa9-a4a6-4e8a-8741-7ddd53150912 {
	fill: url(#a9707f0a-f05b-4b4c-bae3-1e1972597f91);
}
.b5107470-f3ae-4f5b-a513-e77c46788c56 {
	fill: url(#b50c2963-1d2e-4f60-8fad-9abf4bd637f5);
}
.be4df144-123b-445e-b28d-5b60f20820c9 {
	fill: #024d22;
}
.ab03ade7-06de-4823-8dae-0fa8fa710373 {
	fill: #01401c;
}
.ae2b2263-d2e4-4b1b-b6f6-df972204dc6a {
	fill: #57d6f2;
}
.abdc4e75-0fd1-4763-9f1e-7681ceca1c63 {
	fill: url(#bcd6ccd9-0bf6-4a1e-88b4-a213bf0bb008);
}
.e266e20b-d0f6-4fd9-a292-1e8a0efccd52 {
	fill: #b5533c;
}
.b6d8cfcb-8e99-4ae2-8360-40f74a9201ca {
	fill: url(#eca826b1-2bef-4e26-b2e5-51dd62d83069);
}
.a777c204-675a-4e7f-9524-ef50dec349ac {
	fill: url(#f13554bc-723d-4eac-97cc-ac6f1c1f82b0);
}
.e850d344-5663-4c74-89c0-d488f6078c95 {
	fill: url(#a946ced5-09bd-496f-8489-4fda9cab32fa);
}
.aa6e6be5-b65d-4b4c-bfe3-1b22b90c7df8 {
	fill: url(#af17a76a-d457-43af-b6d2-9db2f03d9fc9);
}
.f80f1a97-9d79-4e76-9665-3b61a916d5b9 {
	fill: url(#aa654c4d-ae69-4dbb-b5b9-8405f8a59a22);
}
.f5798d68-e655-4138-8d74-ff93e3bebcf3 {
	fill: #3f0c0b;
}
.bc832fc0-ee8f-4472-863e-d93b0f38d987 {
	fill: url(#fdf9c66f-fe64-4dd1-bcfe-5629f252980a);
}
.e2d20717-7117-4867-a9f5-68f01d9c9350 {
	fill: #d94b2b;
}
.e0709d75-afdf-44b9-852b-586c47095336 {
	fill: url(#a49cf5fb-364e-4152-82a1-120655e58c21);
}
.b8cd2510-3e10-4e6e-834b-a82b14308bd2 {
	fill: url(#fff05793-df01-4be2-84df-c7052b904e79);
}
.e77c4d23-a7d0-4990-8555-aaceca95e96d {
	fill: url(#a4714a17-d28a-4474-8d01-ae63457b5c4b);
}
.a7d95f2b-40e4-43fa-9048-313745aeca10 {
	fill: #f25430;
}
.ac1a0489-57df-4ad5-9f05-c10a6bb43d07 {
	fill: url(#e6064b0a-2ffc-4aba-a40e-39842ba8b6f7);
}
.fccd2454-926f-4bef-8ac3-1298f14e1fca {
	fill: url(#b32533bd-14bf-483a-bb77-cb2fcf9f7e7f);
}
.aa0494c4-a737-41a2-91cb-a0838a1d1ad3,
.bef3d87d-153c-4f07-846c-9092220e77a4 {
	mix-blend-mode: multiply;
}
.aa0494c4-a737-41a2-91cb-a0838a1d1ad3 {
	fill: url(#be86319f-7482-4730-9a22-3fa07530eb1f);
}
.e2f8c4f9-0202-4553-9de5-737836f98368 {
	fill: url(#adcc38dd-ab73-4294-9491-0aeb357972b4);
}
.bef3d87d-153c-4f07-846c-9092220e77a4 {
	fill: url(#ecf86982-63d3-479a-8408-9b895db5aed4);
}
.a5824361-9983-43a1-a33b-20c382704109 {
	fill: url(#aa3dacef-e257-4a41-aeb2-c6c18c59bbfc);
}
.a6347044-62da-4505-851e-d006e6d9f6f8 {
	fill: url(#be921715-9bab-48bd-823a-5d2d82dbd9d0);
}

@media screen and (min-width: 360px) {
	.hero {
		height: 288px;
	}
}

@media (--mobile-query) {
	.hero {
		height: 298px;
	}

	.hero-content {
		padding-top: 110px;
		padding-right: 1.5rem;
		padding-left: 1.5rem;
	}

	.hero-content-mobile {
		padding-right: 1.5rem;
		padding-left: 1.5rem;
	}
}

@media (--mobile-lg-query) {
	.hero {
		height: 301px;
	}

	.hero-content {
		padding-top: 90px;
		padding-left: 0;
		padding-right: 0;
	}

	.hero-title div:nth-of-type(1) {
		top: -12px;
		left: -28px;
		font-size: 43px;
	}

	.hero-title div:nth-of-type(2) {
		font-size: 61px;
	}

	.hero-title div:nth-of-type(3) {
		top: 40px;
		left: 50px;
		font-size: 48px;
	}
}

@media screen and (min-width: 500px) {
	.hero-content {
		max-width: var(--content-width);
		padding-top: 82px;
		padding-right: 1.5rem;
		padding-left: 1.5rem;
	}

	.hero-title div:nth-of-type(1) {
		top: -12px;
		left: -28px;
		font-size: 53px;
	}

	.hero-title div:nth-of-type(2) {
		font-size: 71px;
	}

	.hero-title div:nth-of-type(3) {
		top: 44px;
		left: 51px;
		font-size: 62px;
	}

	.hero-content h2,
	.hero-content p {
		max-width: 325px;
	}
}

@media (--wide-menu-query) {
	.hero {
		height: 450px;
	}

	.hero-illustration {
		max-height: 450px;
	}

	.hero-content {
		padding-top: 150px;
	}

	.hero-title div:nth-of-type(1) {
		top: -12px;
		left: -28px;
		font-size: 53px;
	}

	.hero-title div:nth-of-type(2) {
		font-size: 71px;
	}

	.hero-title div:nth-of-type(3) {
		top: 44px;
		left: 51px;
		font-size: 62px;
	}

	.hero-content h2 {
		padding-top: 40px;
	}

	.hero-content-mobile-inner {
		max-width: 425px;
	}

	.hero-content-mobile h2 {
		padding-top: 1rem;
		margin-bottom: 0;
		font-size: 30px;
	}
}

@media (--content-query) {
	.hero-illustration {
		max-height: 100%;
	}

	.hero {
		height: 500px;
	}

	.hero-content {
		padding-top: 85px;
		padding-left: 0;
		padding-right: 0;
	}

	.hero-content h2,
	.hero-content p {
		display: block;
	}

	.hero-content a[role="button"] {
		display: inline-flex;
	}

	.hero-content-mobile {
		display: none;
	}
}

@media (--sidebar-query) {
	.hero {
		height: 765px;
	}

	.hero-content {
		padding-top: 165px;
	}

	.hero-title {
		padding-left: 0;
	}

	.hero-title div:nth-of-type(1) {
		font-size: 75px;
		top: -22px;
		left: -41px;
	}

	.hero-title div:nth-of-type(2) {
		font-size: 90px;
	}

	.hero-title div:nth-of-type(3) {
		font-size: 75px;
		top: 57px;
		left: 64px;
	}

	.hero-content h2 {
		padding-top: 45px;
	}

	.hero-content a {
		margin-top: 20px;
	}
}

@media screen and (min-width: 1200px) {
	.hero-content {
		max-width: var(--content-width-lg);
	}

	.hero-title div:nth-of-type(1) {
		font-size: 90px;
		top: -17px;
		left: -47px;
	}

	.hero-title div:nth-of-type(2) {
		font-size: 135px;
	}

	.hero-title div:nth-of-type(3) {
		font-size: 114px;
		top: 89px;
		left: 92px;
	}

	.hero-content h2 {
		padding-top: 60px;
		font-size: 30px;
		max-width: 400px;
	}

	.hero-content p {
		max-width: 475px;
		font-size: 20px;
	}
}

@media (--desktop-query) {
	.hero {
		height: 1050px;
	}

	.hero-content {
		padding-top: 200px;
	}

	.hero-content p {
		max-width: 500px;
	}
}

@media (--desktop-lg-query) {
	.hero {
		height: 880px;
	}

	.hero-content {
		padding-top: 200px;
	}

	.hero-title div:nth-of-type(1) {
		font-size: 110px;
		top: -21px;
		left: -59px;
	}

	.hero-title div:nth-of-type(2) {
		font-size: 165px;
	}

	.hero-title div:nth-of-type(3) {
		font-size: 135px;
		top: 109px;
		left: 121px;
	}

	.hero-content h2 {
		max-width: 800px;
	}

	.hero-content p {
		font-size: 24px;
		line-height: 1.5;
		max-width: 800px;
		font-weight: var(--highlight-font-weight-black);
	}

	.hero-content a {
		padding: 1rem 2rem;
	}
}

@media (--desktop-xl-query) {
	.hero {
		height: 1170px;
	}

	.hero-content {
		padding-top: 300px;
	}

	.hero-title div:nth-of-type(1) {
		font-size: 120px;
		top: -20px;
		left: -58px;
	}

	.hero-title div:nth-of-type(2) {
		font-size: 195px;
	}

	.hero-title div:nth-of-type(3) {
		font-size: 150px;
		top: 127px;
		left: 163px;
	}

	.hero-content h2 {
		max-width: 1200px;
		padding-top: 60px;
		font-size: 40px;
	}

	.hero-content p {
		max-width: 1200px;
		font-size: 24px;
	}

	.hero-content a[role="button"] {
		font-size: 24px;
		padding: 1.5rem 2rem;
	}
}

/* Mission template part */
.mission {
	min-height: 300px;
	background-color: var(--color-theme-dark-green);
	position: relative;
	text-align: center;
	padding-right: 0.5rem;
	padding-left: 0.5rem;
}

.mission-title {
	margin: 0;
	padding-top: 50px;
	color: var(--color-theme-white);
	font-size: 50px;
	font-family: var(--font-al-fresco);
	font-weight: var(--font-al-fresco-font-weight-bold);
	text-transform: none;
}

.mission-text {
	font-style: italic;
	color: var(--color-theme-white);
}

.mission-mask {
	width: 100%;
	position: absolute;
	bottom: 0;
	left: 0;
}

@media (--mobile-query) {
	.mission {
		padding-right: 1.5rem;
		padding-left: 1.5rem;
	}

	.mission-title {
		font-size: 75px;
	}

	.mission-text {
		font-size: 21px;
	}
}

@media (--mobile-lg-query) {
	.mission-mask {
		bottom: -1px;
	}
}

@media (--content-query) {
	.mission-title {
		padding-top: 35px;
	}
}

@media (--sidebar-query) {
	.mission {
		min-height: 400px;
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.mission-title,
	.mission-text {
		max-width: var(--content-width);
	}

	.mission-title {
		font-size: 90px;
	}

	.mission-text {
		font-size: 24px;
	}
}

@media (--desktop-query) {
	.mission {
		min-height: 450px;
	}

	.mission-title {
		padding-top: 0;
		font-size: 135px;
		margin-top: -20px;
	}
}

@media screen and (min-width: 1600px) {
	.mission-title {
		padding-top: 20px;
		font-size: 135px;
		margin-top: 0;
	}
}

@media (--desktop-lg-query) {
	.mission {
		min-height: 500px;
	}

	.mission-title,
	.mission-text {
		max-width: var(--content-width-lg);
	}

	.mission-title {
		padding-top: 50px;
	}
}

/* About template part */
/* stylelint-disable */
.about {
	position: relative;
	background: linear-gradient(
			to bottom,
			rgba(255, 255, 255, 1) 0%,
			rgba(255, 255, 255, 0) 20%,
			rgba(255, 255, 255, 0) 80%,
			rgba(255, 255, 255, 1) 100%
		),
		url(../images/nona-pattern.svg);
	background-size: 100%;
	margin: 4rem 0;
	padding-right: 0.5rem;
	padding-left: 0.5rem;
	overflow: hidden;
}
/* stylelint-enable */

.about-accent {
	position: absolute;
}

.about-accent-1 {
	max-width: 75px;
	top: 0;
	left: 0;
}

.about-accent-2 {
	max-width: 50px;
	bottom: 0;
	right: -1px;
}

.about-title {
	margin: 0;
	font-size: 24px;
	color: var(--color-theme-primary);
}

.about-content {
	font-style: italic;
	line-height: 2;
}

.about-region {
	max-width: 80%;
	margin-right: auto;
	margin-left: auto;
	padding: 25px 0;
}

.first-about-region {
	margin-right: 0;
	text-align: right;
}

.about-region.second-about-region {
	text-align: center;
}

.third-about-region {
	margin-left: 0;
	text-align: left;
}

@media (--mobile-query) {
	.about {
		padding-right: 1.5rem;
		padding-left: 1.5rem;
	}

	.about-title {
		font-size: 28px;
	}

	.about-content {
		font-size: 21px;
	}
}

@media (--content-query) {
	.about-region {
		max-width: var(--content-width);
		display: flex;
		flex-direction: column;
	}

	.first-about-region {
		margin-right: auto;
		align-items: flex-end;
	}

	.second-about-region {
		align-items: center;
	}

	.third-about-region {
		margin-left: auto;
		align-items: flex-start;
	}

	.about-content {
		max-width: 500px;
	}
}

@media (--sidebar-query) {
	.about {
		background-size: 50%;
	}

	.about-region {
		max-width: var(--content-width-lg);
		padding: 50px 0;
	}

	.about-accent-1 {
		max-width: 150px;
	}

	.about-accent-2 {
		max-width: 75px;
	}

	.about-title {
		font-size: 40px;
	}
}

@media (--desktop-query) {
	.about-accent-1 {
		max-width: 250px;
	}

	.about-accent-2 {
		max-width: 125px;
	}

	.about-title {
		font-size: 60px;
	}

	.about-content {
		max-width: 600px;
		font-size: 28px;
	}
}

@media (--desktop-lg-query) {
	.about-accent-1 {
		max-width: 300px;
	}

	.about-accent-2 {
		max-width: 150px;
	}
}
