/*--------------------------------------------------------------
# Hero Block
--------------------------------------------------------------*/
.hero {
	position: relative;
	height: 257px;
	overflow: hidden;
}

.hero-illustration {
	max-height: 301px;
	position: absolute;
	top: 0;
	right: -3px;
	z-index: -1;
}

.hero-content {
	height: 100%;
	padding-top: 90px;
	margin-right: auto;
	margin-left: auto;
	padding-right: 0.5rem;
	padding-left: 0.5rem;
	max-width: 375px;
}

.hero-content h1,
.hero-content h2,
.entry-content .hero-content h2 {
	margin: 0;
}

.hero-title {
	padding-left: 1rem;
}

.hero-title h1 {
	position: relative;
}

.hero-title div:nth-of-type(1) {
	position: absolute;
	top: -9px;
	left: -18px;
	font-size: 30px;
	font-family: var(--font-al-fresco);
	font-weight: var(--font-al-fresco-font-weight-bold);
	z-index: 1;
}

.hero-title div:nth-of-type(2) {
	font-size: 40px;
	font-weight: var(--highlight-font-weight-black);
	text-transform: uppercase;
	color: var(--color-theme-primary);
}

.hero-title div:nth-of-type(3) {
	position: absolute;
	top: 25px;
	left: 28px;
	font-size: 35px;
	font-family: var(--font-al-fresco);
	font-weight: var(--font-al-fresco-font-weight-bold);
}

.hero-content h2,
.entry-content .hero-content h2,
.hero-content p,
.hero-content a[role="button"] {
	display: none;
}

.hero-content h2,
.entry-content .hero-content h2 {
	font-size: 20px;
	font-weight: var(--highlight-font-weight-medium);
	padding-top: 100px;
}

.hero-content p {
	font-style: italic;
}

.hero-content-mobile {
	margin-right: auto;
	margin-left: auto;
	padding-right: 0.5rem;
	padding-left: 0.5rem;
	background-color: var(--color-theme-dark-green);
}

.hero-content-mobile-inner {
	max-width: 325px;
}

.hero-content-mobile h2 {
	margin-top: 0;
	padding-top: 1em;
	font-size: 20px;
	font-weight: var(--highlight-font-weight-medium);
	color: var(--color-theme-white);
}

.hero-content-mobile p {
	color: var(--color-theme-white);
	font-style: italic;
}

.hero-content-mobile a[role="button"] {
	background-color: var(--color-theme-white);
	box-shadow: none;
}

@media screen and (min-width: 360px) {
	.hero {
		height: 288px;
	}
}

@media (--mobile-query) {
	.hero {
		height: 298px;
	}

	.hero-content {
		padding-top: 110px;
		padding-right: 1.5rem;
		padding-left: 1.5rem;
	}

	.hero-content-mobile {
		padding-right: 1.5rem;
		padding-left: 1.5rem;
	}
}

@media (--mobile-lg-query) {
	.hero {
		height: 301px;
	}

	.hero-content {
		padding-top: 90px;
		padding-left: 0;
		padding-right: 0;
	}

	.hero-title div:nth-of-type(1) {
		top: -12px;
		left: -28px;
		font-size: 43px;
	}

	.hero-title div:nth-of-type(2) {
		font-size: 61px;
	}

	.hero-title div:nth-of-type(3) {
		top: 40px;
		left: 50px;
		font-size: 48px;
	}
}

@media screen and (min-width: 500px) {
	.hero-content {
		max-width: var(--content-width);
		padding-top: 82px;
		padding-right: 1.5rem;
		padding-left: 1.5rem;
	}

	.hero-title div:nth-of-type(1) {
		top: -12px;
		left: -28px;
		font-size: 53px;
	}

	.hero-title div:nth-of-type(2) {
		font-size: 71px;
	}

	.hero-title div:nth-of-type(3) {
		top: 44px;
		left: 51px;
		font-size: 62px;
	}

	.hero-content h2,
	.entry-content .hero-content h2,
	.hero-content p {
		max-width: 325px;
	}
}

@media (--wide-menu-query) {
	.hero {
		height: 450px;
	}

	.hero-illustration {
		max-height: 450px;
	}

	.hero-content {
		padding-top: 150px;
	}

	.hero-title div:nth-of-type(1) {
		top: -12px;
		left: -28px;
		font-size: 53px;
	}

	.hero-title div:nth-of-type(2) {
		font-size: 71px;
	}

	.hero-title div:nth-of-type(3) {
		top: 44px;
		left: 51px;
		font-size: 62px;
	}

	.hero-content h2,
	.entry-content .hero-content h2 {
		padding-top: 40px;
	}

	.hero-content-mobile-inner {
		max-width: 425px;
	}

	.hero-content-mobile h2 {
		padding-top: 1rem;
		margin-bottom: 0;
		font-size: 30px;
	}
}

@media (--content-query) {
	.hero-illustration {
		max-height: 100%;
	}

	.hero {
		height: 500px;
	}

	.hero-content {
		padding-top: 85px;
		padding-left: 0;
		padding-right: 0;
	}

	.hero-content h2,
	.entry-content .hero-content h2,
	.hero-content p {
		display: block;
	}

	.hero-content a[role="button"] {
		display: inline-flex;
	}

	.hero-content-mobile {
		display: none;
	}
}

@media (--sidebar-query) {
	.hero {
		height: 765px;
	}

	.hero-content {
		padding-top: 165px;
	}

	.hero-title {
		padding-left: 0;
	}

	.hero-title div:nth-of-type(1) {
		font-size: 75px;
		top: -22px;
		left: -41px;
	}

	.hero-title div:nth-of-type(2) {
		font-size: 90px;
	}

	.hero-title div:nth-of-type(3) {
		font-size: 75px;
		top: 57px;
		left: 64px;
	}

	.hero-content h2,
	.entry-content .hero-content h2 {
		padding-top: 45px;
	}

	.hero-content a {
		margin-top: 20px;
	}
}

@media screen and (min-width: 1200px) {
	.hero-content {
		max-width: var(--content-width-lg);
	}

	.hero-title div:nth-of-type(1) {
		font-size: 90px;
		top: -17px;
		left: -47px;
	}

	.hero-title div:nth-of-type(2) {
		font-size: 135px;
	}

	.hero-title div:nth-of-type(3) {
		font-size: 114px;
		top: 89px;
		left: 92px;
	}

	.hero-content h2,
	.entry-content .hero-content h2 {
		padding-top: 60px;
		font-size: 30px;
		max-width: 400px;
	}

	.hero-content p {
		max-width: 475px;
		font-size: 20px;
	}
}

@media (--desktop-query) {
	.hero {
		height: 1050px;
	}

	.hero-content {
		padding-top: 200px;
	}

	.hero-content p {
		max-width: 500px;
	}
}

@media (--desktop-lg-query) {
	.hero {
		height: 880px;
	}

	.hero-content {
		padding-top: 200px;
	}

	.hero-title div:nth-of-type(1) {
		font-size: 110px;
		top: -21px;
		left: -59px;
	}

	.hero-title div:nth-of-type(2) {
		font-size: 165px;
	}

	.hero-title div:nth-of-type(3) {
		font-size: 135px;
		top: 109px;
		left: 121px;
	}

	.hero-content h2,
	.entry-content .hero-content h2 {
		max-width: 800px;
	}

	.hero-content p {
		font-size: 24px;
		line-height: 1.5;
		max-width: 800px;
		font-weight: var(--highlight-font-weight-black);
	}

	.hero-content a {
		padding: 1rem 2rem;
	}
}

@media (--desktop-xl-query) {
	.hero {
		height: 1170px;
	}

	.hero-content {
		padding-top: 300px;
	}

	.hero-title div:nth-of-type(1) {
		font-size: 120px;
		top: -20px;
		left: -58px;
	}

	.hero-title div:nth-of-type(2) {
		font-size: 195px;
	}

	.hero-title div:nth-of-type(3) {
		font-size: 150px;
		top: 127px;
		left: 163px;
	}

	.hero-content h2,
	.entry-content .hero-content h2 {
		max-width: 1200px;
		padding-top: 60px;
		font-size: 40px;
	}

	.hero-content p {
		max-width: 1200px;
		font-size: 24px;
	}

	.hero-content a[role="button"] {
		font-size: 24px;
		padding: 1.5rem 2rem;
	}
}

/* Hero SVG Styles */
.nona-svg {
	fill: none;
}
.nona-svg-1 {
	isolation: isolate;
}
.nona-svg-2 {
	fill: url(#nona-svg-id);
}
.nona-svg-3 {
	fill: url(#nona-svg-id-1);
}
.nona-svg-4 {
	clip-path: url(#nona-svg-id-2);
}
.nona-svg-5 {
	fill: #f2de29;
}
.nona-svg-6 {
	fill: url(#nona-svg-id-3);
}
.nona-svg-7 {
	fill: url(#nona-svg-id-4);
}
.nona-svg-8 {
	fill: url(#nona-svg-id-5);
}
.nona-svg-9 {
	fill: url(#nona-svg-id-6);
}
.nona-svg-10 {
	fill: url(#nona-svg-id-7);
}
.nona-svg-11 {
	fill: url(#nona-svg-id-8);
}
.nona-svg-12 {
	fill: #024d22;
}
.nona-svg-13 {
	fill: #01401c;
}
.nona-svg-14 {
	fill: #57d6f2;
}
.nona-svg-15 {
	fill: url(#nona-svg-id-9);
}
.nona-svg-16 {
	fill: #b5533c;
}
.nona-svg-17 {
	fill: url(#nona-svg-id-10);
}
.nona-svg-18 {
	fill: url(#nona-svg-id-11);
}
.nona-svg-19 {
	fill: url(#nona-svg-id-12);
}
.nona-svg-20 {
	fill: url(#nona-svg-id-13);
}
.nona-svg-21 {
	fill: url(#nona-svg-id-14);
}
.nona-svg-22 {
	fill: #3f0c0b;
}
.nona-svg-23 {
	fill: url(#nona-svg-id-15);
}
.nona-svg-24 {
	fill: #d94b2b;
}
.nona-svg-25 {
	fill: url(#nona-svg-id-16);
}
.nona-svg-26 {
	fill: url(#nona-svg-id-17);
}
.nona-svg-27 {
	fill: url(#nona-svg-id-18);
}
.nona-svg-28 {
	fill: #f25430;
}
.nona-svg-29 {
	fill: url(#nona-svg-id-19);
}
.nona-svg-30 {
	fill: url(#nona-svg-id-20);
}
.nona-svg-31 {
	fill: url(#nona-svg-id-21);
}
.nona-svg-32 {
	fill: url(#nona-svg-id-22);
}
.nona-svg-33 {
	fill: url(#nona-svg-id-24);
}
.nona-svg-34 {
	fill: url(#nona-svg-id-25);
}
